<h1>Flourish</h1>
<% @advertisements.each do |advertisement| %>
  <article>
    <p><%= advertisement.amount %> Available /
    <%= advertisement.amount_claimed %> Requested</p>
  </article>
<% end %>
